*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style-type: none;
}

:root{
 
--color1: #03000a;  /* Titres, boutons principaux, accents magiques */
 --color2: #FFD93D;  /* Boutons secondaires, survol, éléments lumineux */
 --color3: #FF8CC6;  /* Arrière-plans, hover sur boutons, cartes */
 --color4: #4DA6FF;  /* Fond clair, bannières, sections importantes */
 --color5: #4DD6B0;  /* Accents décoratifs, icônes, hover liens */
 --color6: #eeeadf;  /* Fond général ou cartes pour adoucir les couleurs */
 
 --font1:"Pacifico", cursive;
 --font2: "Nunito", sans-serif;
 --font3: "Lilita One", sans-serif;

}

body{
     background: linear-gradient(180deg, var(--color3), var(--color2));
    min-height: 100vh;
}


/* navbar  */


nav{
   background: linear-gradient(90deg, var(--color1), var(--color3));
    height: 10lvh;
    display: flex;
    align-items: center;
    
}
 nav li a {
    background-color: var(--color4);
    padding: 7px;
    border-radius: 20px;
    color: var(--color6);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);

 }

 nav li a:hover{
    background-color: var(--color2);
    transition: 0.6s;
    color: var(--color4);
   

 }

nav img{
   border-radius: 100px;
   height: 70px;
   width: 70px;
   margin: 0 10px;
    
}

.connexionMsgYes{
    width: 15vw;
    font-size: 0.8rem;
    border-radius: 10px;
    padding: 8px;
    margin: 4px;
    background-color: var(--color5);
    text-align: center;
    position: absolute;
    right: 0;
    color: var(--color6);
    font-weight: 700;
}


.connexionMsgNo{
    width: 15vw;
    font-size: 0.8rem;
    border-radius: 10px;
    padding: 8px;
    margin: 4px;
    background-color: rgb(223, 134, 134);
    text-align: center;
    position: absolute;
    right: 0;
    color: var(--color6);
    font-weight: 700;
}

nav, ul, nav ul div{
    display: flex;
}

.connect{
    padding: 10px 20px;
}
.explore li, .deconnect{
    padding: 10px 20px;
}

/*end nav bar */




h1{
    padding: 20px;
    color: var(--color1);
    font: var(--font1);
    font-family: var(--font1);
    font-size: 3rem;
    text-align: center;
    text-shadow: 0px 2px 5px rgba(255, 255, 255, 0.35);

  
}

h2{
    text-transform: uppercase;
    padding: 20px;
    color: var(--color1);
    font-family: var(--font3);
    font-size: 1.2rem;
    
  
}

p {
   padding: 10px 20px;
   font-family: var(--font2);
}



/* add movie form  */
.addMovie{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;

}


.movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.movie-card{
   width: 30%;
   display: flex;
   align-items: center;
   flex-direction: column;
   padding: 20px;
   box-shadow: 0 4px 15px rgba(0,0,0,0.2);
   border-radius: 20px;
   margin: 5vh 0;
   background-color: var(--color6); /* Fond crème */
   border: 2px solid var(--color2); /* Doré */
 
}

.movie-img{
    height: 45vh;
    border-radius: 15px;
}


/*movie list*/
.moviepic{
    height: 30vh;
    border-radius: 15px;
    margin: 10px;
    
}

.presentation{
    background-color: #4DD6B0;

}

.mainList{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}


.movie-card-list{
   width: 30%;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
   padding: 10px;
   box-shadow: 0 4px 15px rgba(0,0,0,0.2);
   border-radius: 20px;
   margin: 5vh 2vh;
   background-color: var(--color6); /* Fond crème */
   border: 2px solid var(--color2); /* Doré */
 
}

.movie-card-list a{
   color: var(--color6);
   background-color: var(--color5);
   border-radius: 50px;
   box-shadow: 0 4px 15px rgba(0,0,0,0.2);
   padding: 15px;
}

 
.movie-card-list a:hover{
   color: var(--color6);
   background-color: var(--color4);
   border-radius: 50px;
   box-shadow: 0 4px 15px rgba(0,0,0,0.2);
   padding: 15px;
}


/*inscription form*/


form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 3vw;
    max-width: 80vw;
    margin: 30px auto;
    padding: 25px;
    background-color: var(--color6); /* fond crème */
    border: 2px solid var(--color2); /* doré */
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    font-family: var(--font2);
}

form input {
    width: 100%;
    padding: 12px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: 1rem;
    font-family: var(--font2);
    transition: all 0.3s ease;
}


form input::placeholder, textarea::placeholder{
    color: var(--color3); 
    font-family: var(--font2);
    font-size: 1rem;
}

form input:focus, textarea:focus{
    outline: none; 
    border: 2px solid var(--color1); 
    box-shadow: 0 0 10px rgba(138, 79, 255, 0.5); 
    background-color: var(--color6);
    color: var(--color3);
}

textarea{
    width: 100%;
    height: 30vh;
    resize: none;
    border: none;
    padding: 10px;
    font-family: var(--font3);
    }


input[type="submit"]{
    background: linear-gradient(90deg, var(--color3), var(--color5));
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 20px;
    cursor: pointer;
    font-family: var(--font1); 
}

.submitMovie:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    background: linear-gradient(135deg, var(--color2), var(--color1));
}

#picture::file-selector-button {
    background-color: var(--color4);  
    color: var(--color6);             
    border: none;
    border-radius: 10px;
    padding: 8px 15px;
    cursor: pointer;
    font-family: var(--font2);
    font-weight: 300;
}
